<html>
    <head>
        <title>Tasks REST API Example</title>
        <meta name="decorator" content="atl.general">
        #requireResource("com.atlassian.confluence.tutorials.tutorial-confluence-tasks:tasks-web-resources")
    </head>

    <body>
        <div id="aui-message-bar"></div>

        <h2>Existing Tasks:</h2>
        <div id="rest-tasks"></div>

        <form id="add-task-rest-form" action="#" method="post" class="aui unsectioned">
            <h2>Create a Task:</h2>
            <div class="field-group">
                <label for="task-title-field">Title<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
                <input class="text" type="text" id="task-title-field" name="task-title">
            </div>
            <div class="field-group">
                <label for="task-notes-field">Notes</label>
                <input class="text" type="text" id="task-notes-field" name="task-notes">
            </div>
            <div class="field-group">
                <label for="task-status-checkbox">Task Completed</label>
                <input id="task-status-checkbox" type="checkbox" value="DONE" name="task-status"/>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" value="Save" id="add-task-submit">
                </div>
            </div>
        </form>
    </body>
</html>
